<section class="articles">
  <a id="appl"></a>
    <a href="articles/Sierra/article.html">
      <div class="big box appl-f">
        <div class="content">
          <h3></h3>
          <p></p>
          <a href="articles/Sierra/article.html" id="read">Lire cet Article</a>
        </div>
      </div>
    </a>
    <a href="articles/iOS10/article.html">
      <div class="large box appl-s">
        <div class="content">
          <h3></h3>
          <p></p>
          <a href="articles/iOS10/article.html" id="read">Lire cet Article</a>
        </div>
      </div>
    </a>
    <div class="small box appl-t">
      <div class="content">
        <h3></h3>
        <p></p>
        <a href="#" id="read">Lire cet Article</a>
      </div>
    </div>
    <div class="small box appl-l">
      <div class="content">
        <h3></h3>
        <p></p>
        <a href="#" id="read">Lire cet Article</a>
      </div>
    </div>
    <a href="">
      <div class="large box goog-s">
        <div class="content">
          <h3></h3>
          <p></p>
          <a href="" id="read">Lire cet Article</a>
        </div>
      </div>
    </a>
    <a href="">
      <div class="small box goog-t">
        <div class="content">
          <h3></h3>
          <p></p>
          <a href="" id="read">Lire cet Article</a>
        </div>
      </div>
    </a>
    <a href="">
      <div class="small box goog-l">
        <div class="content">
          <h3></h3>
          <p></p>
          <a href="" id="read">Lire cet Article</a>
        </div>
      </div>
    </a>
    <a href="">
      <div class="big box goog-f">
        <div class="content">
          <h3></h3>
          <p></p>
          <a href="" id="read">Lire cet Article</a>
        </div>
      </div>
    </a>
  <a id="goog"></a>
</section>
