//output:../_includes/featured.html

section#featured(style="background-image: url({{site.baseurl}}{{ftrd.thumbnail}}); height: 400px")
	.content
		h1 {{ftrd.title}}
		p {{ftrd.meta}}
		a(href="{{site.baseurl}}{{ftrd.url}}")#read Lire cet Article
