<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{page.title}}</title>
    <link rel="icon" href="assets/img/icon.png"/>
    <link rel="stylesheet" href="/assets/css/articles.css"/>
  </head>
  <body>
    <header style="background-image: url({{site.url}}{{page.thumbnail}});">
      <div class="gradient"></div>
      <div class="title">
        <h1>{{page.title}}</h1>
      </div>
    </header>
    <article>{{content}}</article>
  </body>
</html>
